* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  width: auto;
  margin-inline: auto;
}
.main {
  display: flex;
  background: #f8f8f8;

  height: auto;

  justify-content: center;
}

.info-1 {
  margin-top: 100px;
}

.main-model {
  color: rgb(22, 21, 21);
  font-size: 24px;
  font-weight: 300;
  line-height: 186%;
}

.title-1 {
  margin-top: 53px;
  color: rgb(39, 39, 39);
  font-size: 250px;
  font-weight: 300;
  line-height: 230px;
}

.desc {
  margin-top: 43px;
  color: rgb(22, 21, 21);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
  width: 575px;
}

.group-1 {
  display: flex;
  margin-top: 61px;
  text-align: center;
  align-items: center;
  margin-bottom: 211px;
}

.main-btn {
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;

  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 300;

  padding: 26px 74px;

  transition: 0.2s all ease-in-out;
}

.main-btn:hover {
  background: rgb(187, 139, 93);
}
.main-price {
  display: inline-block;
  border: 0;
  outline: 0;

  color: rgb(39, 39, 39);
  font-size: 32px;
  font-weight: 300;

  padding: 26px 26px;
  box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
  background: rgb(255, 255, 255);
}

.main-image {
  margin-left: 35px;
  transition: 0.2s all ease-in-out;
}

.main-image:hover {
  transform: translateY(-20px);
}
.group-2 {
  margin-bottom: 84px;
}

.pretitle {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  line-height: 44.64px;
  text-align: center;
}

.title-2 {
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-weight: 400;
  line-height: 81px;
  text-align: center;
}

.model {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-img-1 {
  display: flex;
  text-align: center;
  align-items: center;
  background: #f8f8f8;
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 110px 65px;
  transition: 0.2s all ease-in-out;
}

.model-img-1:hover {
  transform: scale(1.1);
}

.model-img-2 {
  display: flex;
  text-align: center;
  align-items: center;
  background: #f8f8f8;
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 110px 73px;
  transition: 0.2s all ease-in-out;
}

.model-img-2:hover {
  transform: scale(1.1);
}

.model-name {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 400;
  line-height: 29px;

  margin-bottom: 17px;
  margin-top: 67px;
  align-items: center;
}

.model-info-1 {
  color: rgb(22, 21, 21);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
  text-align: center;
  width: 532px;
  margin-bottom: 85px;
}

.model-info-2 {
  color: rgb(22, 21, 21);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
  text-align: center;
  width: 510px;
  margin-bottom: 85px;
}

.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 142px;
}

.title-3 {
  position: relative;
  color: rgb(22, 21, 21);
  font-size: 32px;
  font-weight: 400;
  line-height: 59.52px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 58px;
}

.title-3 span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: calc(100% - 72px);
  border: 1px solid rgb(112, 112, 112);
  left: 50%;
  transform: translateX(-50%);
}

.info-2 {
  color: rgb(22, 21, 21);

  font-family: 300;
  font-size: 24px;
  text-align: center;
  line-height: 40.8px;

  width: 520px;
}

.link {
  color: rgb(187, 139, 93);
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: rgb(224, 100, 72);
}

@media screen and (max-width: 1136px) {
  .group-1 {
    margin-bottom: 111px;
  }

  .main-image {
    transform: scale(0.7); /* Зменшуємо зображення на 20% пропорційно */
    margin-left: 0;
  }

  .title-1 {
    font-size: 180px;
  }

  .desc {
    margin-top: 14px;
  }
}

@media screen and (max-width: 1052px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    justify-content: flex-end;
    margin-top: -100px;
  }

  .info-1 {
    margin-top: 0;
  }

  .main-model {
    display: flex;
    justify-content: center;
    margin-top: -50px;
  }
  .title-1 {
    margin-top: 10px;
    text-align: center;
  }

  .desc {
    text-align: center;
    margin-top: 5px;
  }

  .group-1 {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 630px) {
  .info-2 {
    width: 460px;
  }

  .desc {
    width: auto;
    padding: 50px;
    margin-top: -75px;
  }

  .model-info-1,
  .model-info-2 {
    font-size: 28px;
    width: 400px;
  }

  .group-1 {
    margin-top: 0;
  }

  .info-2 {
    width: auto;
    padding: 50px;
  }
}

@media screen and (max-width: 530px) {
  .main-image {
    transform: scale(0.5); /* Зменшуємо зображення на 20% пропорційно */
  }

  .main-model {
    margin-top: -145px;
  }

  .title-1 {
    font-size: 100px;
    margin-top: -20px;
  }

  .desc {
    font-size: 25px;
    margin-top: -110px;
  }

  .group-1 {
    margin-top: 0;
  }

  .main-btn,
  .main-price {
    padding: 15px 25px;
    font-size: 20px;
  }

  .model-img-1,
  .model-img-2 {
    transform: scale(0.7);
  }

  .model-info-1,
  .model-info-2 {
    width: auto;
    padding: 50px 50px;
  }
}
